.part1 {
    position: relative;
    z-index: 3;
    background-color: whitesmoke;
    bottom: 160px;
    padding-bottom: 40px;
}
.part1 .part1-post {
    perspective: 700px;
    position: relative;
    margin-top: 40PX;
    background-color: rgb(226, 221, 221);
}

.part1 .part1-post-img {
    /* position: absolute;
    display: block;
    z-index: 1; */
    transition: all 1s ease-in-out;
}
.part1 .part1-post-img:hover {
    transform: translateZ(-49px);
}
.part1 .part1-post p {
    position: absolute;
    overflow-y: hidden;
    z-index: 2;
    color: whitesmoke;
    /* top: 120px; */
    bottom: 1px;
    padding: 0 15px;
    font-size: 19px;
}


.part1 .part1-posting {
    flex-wrap: nowrap;
    flex-direction: row;
    transition: ease-in-out all 2s;
    perspective: 700px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.part1 .post-img:hover {
    transition: all 1s ea   ease-in-out;
    transform: translateZ(-50px);
    opacity: .7;
}
.part1 .part1-posting P {
    font-weight: 500;
    color: #444;
    margin-bottom: 10px;
}

.part1-footer {
    background-color: #202020;
    height: 70px;
    position: relative;
    z-index: 1;
    bottom: 185px;
}
