.part2 {
    margin-top: -135px;
    margin-bottom: 25px;
}

.part2 .post {
    margin-bottom: 25px;
    perspective: 500px;
}

.part2 .post .post-img {
    margin-bottom: 10px;
    transition: all .75s linear;
    height: 250px;
}
.part2 .post .post-img:hover {
    transform: translateZ(-80px);
}

.part2 .post .post-p {
    padding: 8px;
    margin-bottom: 10px;
    color: #222;
}