.overlay-home {
    background-color: #008080;
    min-height: 600px;
    text-align: center;
    position: relative;
    top: -63px;
    z-index: 1;
    margin-bottom: 50px;
}
.overlay-home .video {
    background-color: #151515;
    margin-top: 64px;
    padding: 10px;
}
.overlay-home .video > p {
    padding: 20px 10px;
    color: thistle;
}
.overlay-home .post {
    /* margin-bottom: 20px; */
    margin-top: 140px;
    color:#fff ;
}

.overlay-home .home-img {
    height: 190px;
}
.overlay-home .post .my-p {
    position: absolute;
    bottom: 0;
    font-size: 16px;
}

.overlay-home .post p {
    overflow: hidden !important ;

}

.overlay-home .post-social {
    background-color: #151515;
    margin-top: 90px;
    width: 50px;
    /* margin-bottom: 100px; */
    display: flex;
    flex-direction: column;
    height: 191px;
    justify-content: space-around;
}
.overlay-home .post-social i {
    display: block;
    color: #ffff;
    text-align: center;

}
@media ( max-width : 991px ) {
    .overlay-home .post-social  {
        flex-direction: row !important;
        height: 40px;
        width: 300px;
        margin: 0 auto 90px;
    }    
}