.my-nav {
    position: relative;
    z-index: 50;
    background-color: snow;
    
}
.navbar {
    padding: 0 !important;
}
.navbar .navbar-brand {
    color: teal;
    padding: 10px;
    font-weight: 600;
    font-size: 26px;
}
.navbar span {
    background-color: #f00;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 30px;
    overflow-y: hidden;
    font-family: monospace, Arial, Helvetica, sans-serif;
}
.navbar .navbar-toggler i {
    color: teal;
}

.navbar .nav-item .nav-link {
    color: #333;
    font-size: 18px;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-lin {
    color: teal;
    font-weight: 700;
    font-size: 20px;
}
.navbar .nav-item .nav-link:hover {
        padding-right: 29px;

}