.navbar {
    padding: 0 !important;
    position: relative;
    z-index: 1;
}
.navbar .navbar-brand {
    color: teal;
    padding: 10px;
    font-weight: 600;
    font-size: 26px;
}
.navbar span {
    background-color: #f00;
    color: thistle;
    font-size: 20px;
    width: 30px;
}
.navbar .navbar-toggler i {
    color: teal;
}

.navbar .nav-item .nav-link {
    color: #333;
    font-size: 18px;
}
.navbar .nav-item .nav-link:hover ,
.navbar .nav-item .nav-link.active {
    color: teal;
    text-decoration: teal underline;

}